USER_EXE_COMM_CMDLINE		root	/usr/sbin/sshd						sshd						/usr/sbin/sshd-D									NET_LISTEN=*:22
USER_EXE_COMM_CMDLINE 		blaha	x									y							z
USER_EXE_COMM_CMDLINE		root	/usr/sbin/tcpdump	 				tcpdump 					tcpdump>
#USER_EXE_COMM_CMDLINE		root	/sbin/rpcbind						rpcbind 					/sbin/rpcbind-f-w									NET_LISTEN=*:111
USER_EXE_COMM_CMDLINE		root	/sbin/rpcbind						rpcbind 					/sbin/rpcbind-f-w									NET_LISTEN=*:111
