USER_EXE_COMM_CMDLINE_PID	root	/lib/systemd/systemd			systemd 			/sbin/initsplash				1
USER_EXE_COMM_CMDLINE_PID	root	/lib/systemd/systemd-journald	systemd-journal 	/lib/systemd/systemd-journald	<1000
USER_EXE_COMM_CMDLINE_PID	root	/lib/systemd/systemd-udevd 		systemd-udevd 		/lib/systemd/systemd-udevd 		<1000


USER_EXE_COMM_CMDLINE		root	/bin/ntfs-3g					mount.ntfs 			/sbin/mount.ntfs/dev/>
USER_EXE_COMM_CMDLINE		root	/usr/lib/bluetooth/bluetoothd	bluetoothd			/usr/lib/bluetooth/bluetoothd
USER_EXE_COMM_CMDLINE		root	/usr/sbin/cupsd					cupsd				/usr/sbin/cupsd-l
USER_EXE_COMM_CMDLINE		root	/usr/sbin/NetworkManager		NetworkManager		/usr/sbin/NetworkManager--no-daemon
USER_EXE_COMM_CMDLINE		root	/usr/lib/accountsservice/accounts-daemon accounts-daemon	/usr/lib/accountsservice/accounts-daemon
USER_EXE_COMM_CMDLINE		root	/usr/lib/udisks2/udisksd 		udisksd 			/usr/lib/udisks2/udisksd
USER_EXE_COMM_CMDLINE		root	/usr/sbin/acpid 				acpid 				/usr/sbin/acpid
USER_EXE_COMM_CMDLINE		root	/lib/systemd/systemd-logind		systemd-logind 		/lib/systemd/systemd-logind
USER_EXE_COMM_CMDLINE		root	/usr/sbin/ModemManager 			ModemManager 		/usr/sbin/ModemManager
USER_EXE_COMM_CMDLINE		root	/usr/sbin/cron					cron				/usr/sbin/cron-f
USER_EXE_COMM_CMDLINE		root	/usr/sbin/irqbalance			irqbalance 			/usr/sbin/irqbalance--foreground
USER_EXE_COMM_CMDLINE		root	/usr/sbin/thermald				thermald 			/usr/sbin/thermald--no-daemon--dbus-enable
USER_EXE_COMM_CMDLINE		root	/usr/lib/snapd/snapd			snapd 				/usr/lib/snapd/snapd
USER_EXE_COMM_CMDLINE		root	/usr/lib/policykit-1/polkitd	polkitd 			/usr/lib/policykit-1/polkitd--no-debug
USER_EXE_COMM_CMDLINE		root	/usr/sbin/sshd					sshd				/usr/sbin/sshd-D									NET_LISTEN_22
USER_EXE_COMM_CMDLINE		root	/sbin/wpa_supplicant			wpa_supplicant		/sbin/wpa_supplicant-u-s-O/run/wpa_supplicant
USER_EXE_COMM_CMDLINE		root	/usr/sbin/gdm3					gdm3				/usr/sbin/gdm3
USER_EXE_COMM_CMDLINE		root	/usr/lib/gdm3/gdm-session-worker	gdm-session-wor gdm-session-worker>
USER_EXE_COMM_CMDLINE		root	/usr/lib/upower/upowerd			upowerd 			/usr/lib/upower/upowerd
#USER_EXE_COMM_CMDLINE		root	
#USER_EXE_COMM_CMDLINE		root	
#USER_EXE_COMM_CMDLINE		root	
#USER_EXE_COMM_CMDLINE		root	
#USER_EXE_COMM_CMDLINE		root	



USER_EXE_COMM_CMDLINE		systemd-timesync	/lib/systemd/systemd-timesyncd		systemd-timesyn 			/lib/systemd/systemd-timesyncd
USER_EXE_COMM_CMDLINE		messagebus			/usr/bin/dbus-daemon 				dbus-daemon 				/usr/bin/dbus-daemon--system--address=systemd:--nofork--nopidfile>
USER_EXE_COMM_CMDLINE		daemon 				/usr/sbin/atd						atd 						/usr/sbin/atd-f
USER_EXE_COMM_CMDLINE		syslog				/usr/sbin/rsyslogd					rsyslogd 					/usr/sbin/rsyslogd-n
USER_EXE_COMM_CMDLINE		avahi				/usr/sbin/avahi-daemon				avahi-daemon 				avahi-daemon:running>
USER_EXE_COMM_CMDLINE		avahi 				/usr/sbin/avahi-daemon				avahi-daemon 				avahi-daemon:chroothelper
USER_EXE_COMM_CMDLINE		colord				/usr/lib/colord/colord				colord 						/usr/lib/colord/colord
USER_EXE_COMM_CMDLINE		systemd-resolve		/lib/systemd/systemd-resolved		systemd-resolve				/lib/systemd/systemd-resolved		NET_LISTEN_5355
USER_EXE_COMM_CMDLINE		whoopsie			/usr/bin/whoopsie					whoopsie					/usr/bin/whoopsie-f
USER_EXE_COMM_CMDLINE		kernoops			/usr/sbin/kerneloops				kerneloops					/usr/sbin/kerneloops
USER_EXE_COMM_CMDLINE		gdm 				/lib/systemd/systemd 				systemd 					/lib/systemd/systemd--user
USER_EXE_COMM_CMDLINE		gdm 				/lib/systemd/systemd 				(sd-pam)					(sd-pam)
USER_EXE_COMM_CMDLINE		gdm 				/usr/lib/gdm3/gdm-wayland-session 	gdm-wayland-ses 			/usr/lib/gdm3/gdm-wayland-sessiongnome-session--autostart/usr/share/gdm/greeter/
USER_EXE_COMM_CMDLINE		gdm 				/usr/bin/dbus-daemon 				dbus-daemon 				/usr/bin/dbus-daemon--session--address=systemd:--nofork--nopidfile--systemd-acti
USER_EXE_COMM_CMDLINE		gdm 				/usr/lib/gnome-session/gnome-session-binary gnome-session-b 	/usr/lib/gnome-session/gnome-session-binary--autostart/usr/share/gdm/greeter/aut
USER_EXE_COMM_CMDLINE		gdm 				/usr/bin/gnome-shell 				gnome-shell 				/usr/bin/gnome-shell
USER_EXE_COMM_CMDLINE		gdm 				/usr/bin/Xwayland 					Xwayland 					/usr/bin/Xwayland:1024-rootless-terminate-core-listen4-listen5-display>
USER_EXE_COMM_CMDLINE		gdm 				/usr/lib/at-spi2-core/at-spi-bus-launcher at-spi-bus-laun 		/usr/lib/at-spi2-core/at-spi-bus-launcher
USER_EXE_COMM_CMDLINE		gdm 				/usr/bin/dbus-daemon 				dbus-daemon 				/usr/bin/dbus-daemon--config-file=/usr/share/defaults/at-spi2/accessibility.conf
USER_EXE_COMM_CMDLINE		gdm 				/usr/lib/at-spi2-core/at-spi2-registryd at-spi2-registr 		/usr/lib/at-spi2-core/at-spi2-registryd--use-gnome-session
USER_EXE_COMM_CMDLINE		gdm 				/usr/bin/pulseaudio 				pulseaudio 					/usr/bin/pulseaudio--daemonize=no
#USER_EXE_COMM_CMDLINE		


